ul.g5core__share-list {
	font-size: 14px;
	li {
		a {
			&:hover {
				@extend %accent-text-color;
			}
		}
	}
}
.g5core__share-label {
	font-size: 14px;
	text-transform: uppercase;
	@extend %heading-color;
	margin-right: 20px;
	font-weight: bold;
}

