.g5works__post-skin-bordered {
	.g5works__post-inner {
		@include border-radius(5px);
		@include transition(box-shadow .3s);
		@include box-shadow(0 0 0 1px $color_border);
		&:hover {
			@include box-shadow( 0px 2px 18.9px 8.1px rgba(204, 204, 233, 0.15));
		}
	}

	.g5works__post-content {
		padding: 30px 40px 40px 40px;
		border: none;
		background-color: #fff;
	}

	.g5core__entry-thumbnail {
		@include border-radius(5px 5px 0 0);
	}
}
