/* ## Elements */
.g5staff__post-title {
  font-size: 14px;
  text-transform: uppercase;
}

.g5staff__loop-job-title {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* ## Archive */
.g5staff__post-skin-classic .g5staff__post-featured {
  margin-bottom: 27px;
}

.g5staff__post-skin-01 .g5staff__post-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #ebebeb;
  box-shadow: 0 0 0 1px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.g5staff__post-skin-01 .g5staff__post-inner:hover {
  -webkit-box-shadow: 0 2px 18.9px 8.1px rgba(204, 204, 223, 0.15);
  box-shadow: 0 2px 18.9px 8.1px rgba(204, 204, 223, 0.15);
}
.g5staff__post-skin-01 .g5staff__post-featured {
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 0;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.g5staff__post-skin-01 .g5core__entry-thumbnail {
  border-radius: 5px 0 0 5px;
}
.g5staff__post-skin-01 .g5core__entry-thumbnail:after {
  display: none;
}
.g5staff__post-skin-01 .g5staff__post-content {
  padding: 40px 25px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.g5staff__post-skin-02 .g5core__entry-thumbnail {
  border-radius: 100%;
}
.g5staff__post-skin-02 .g5staff__post-featured {
  margin-left: auto;
  margin-right: auto;
  max-width: 81.4814814815%;
}

.g5element__staff-slider .slick-prev {
  margin: 0;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  left: -50px;
}
.g5element__staff-slider .slick-next {
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  right: -50px;
}

/* ## Single */
.g5staff__single-info .g5staff__loop-job-title {
  font-size: 15px;
  margin-top: 25px;
}
.g5staff__single-info ul.g5staff__loop-social-profiles {
  font-size: 18px;
  border-top: 1px solid;
  padding-top: 25px;
  margin-top: 22px;
}
.g5staff__single-info ul.g5staff__loop-social-profiles li + li {
  margin-left: 15px;
}
.g5staff__single-info .g5staff__single-info-content {
  border-radius: 0 0 5px 5px;
}

.g5staff__single-meta {
  font-size: 15px;
}
.g5staff__single-meta label {
  font-weight: 400;
}
.g5staff__single-meta div + div {
  margin-top: 17px;
}

.g5staff__single-featured .g5core__entry-thumbnail-image img {
  border-radius: 5px 5px 0 0;
}

@media (min-width: 1200px) {
  body.has-sidebar .g5staff__single-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
  }
  body.has-sidebar .g5staff__single-info .g5staff__single-featured {
    max-width: 440px;
    width: 50.5747126437%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  body.has-sidebar .g5staff__single-info .g5staff__single-info-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: none;
    padding: 30px 30px 30px 60px;
  }
  body.has-sidebar .g5staff__single-featured .g5core__entry-thumbnail-image img {
    border-radius: 5px 0 0 5px;
  }
}
@media (min-width: 992px) {
  .has-sidebar.g5staff__single-layout-1 .g5staff__single-info-wrap {
    margin-bottom: 70px;
  }
}
.has-sidebar.g5staff__single-layout-1 .g5staff__single > div {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.has-sidebar.g5staff__single-layout-1 .g5staff__single .entry-content {
  padding-left: 0;
}

/*--------------------------------------------------------------
## Extends css
--------------------------------------------------------------*/
.font-body {
  font-family: "Open Sans";
}

.font-primary {
  font-family: "Work Sans";
}

.text-color {
  color: #7d7d7d;
}

.g5staff__post-title, ul.g5staff__loop-social-profiles li a:hover, .g5staff__single-info .g5staff__loop-job-title {
  color: #4b2bb0;
}

.accent-foreground-color {
  color: #fff;
}

.accent-foreground-bg-color {
  background-color: #fff;
}

.disabled-color {
  color: #ccc;
}

.caption-color {
  color: #ababab;
}

.border-color,
.g5staff__single-info ul.g5staff__loop-social-profiles,
.g5staff__single-info .g5staff__single-info-content,
body.has-sidebar .g5staff__single-info {
  border-color: #ebebeb;
}

.heading-color,
.g5staff__single-meta span {
  color: #000;
}

.primary-color {
  color: #4f4f6f;
}

.primary-bg-color {
  background-color: #4f4f6f;
}

.secondary-color {
  color: #6428cb;
}

.secondary-bg-color {
  background-color: #6428cb;
}

/*# sourceMappingURL=staff.css.map */
