.g5blog__single-featured-container {
	ul.g5blog__post-meta li.meta-author span {
		color: inherit;
	}
	.g5blog__single-title {
		margin-bottom: 13px;
	}
}

.g5blog__single-layout-6 .g5blog__single .g5core__post-featured {
	margin-bottom: 42px;
}