.g5works__single-navigation {
  margin-top: 0;
  .nav-links {
    padding: 0;
    border: none;
    > div {
      @include flex-grow-0();
      width: auto;
      &.disabled,
      a {
        width: 45px;
        height: 45px;
        @include justify-content-center();
        @include align-items-center();

        @extend %accent-text-color;
        @extend %accent-foreground-bg-color;
        @include border-radius(50%);
        @include box-shadow(1px 5px 40.18px 8.82px rgba(130, 112, 161, 0.19));
        @include transition(all 0.3s);
        font-size: 14px;

        &:hover {
          @extend %accent-bg-color;
          @extend %accent-foreground-color;
        }
      }

      &.disabled {
        text-align: center;
        line-height: 45px;
        opacity: 0.7;
        cursor: not-allowed;
        &:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-family: $font_icon;
          font-weight: 900;
          content: '\f177';
        }

        &.nav-next {
          &:before {
            content: '\f178';
          }
        }
      }

      &.nav-previous {
        margin-right: 20px;
      }
    }
  }
}
